server:
  port: ${SERVER_PORT:8080}

spring:
  config:
    import: optional:file:.env.properties

  application:
    name: ${APP_NAME:ReadFlow}

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  jackson:
    time-zone: UTC

  app:
    webBaseUrl: ${WEB_BASE_URL}

    jwt:
      secret: ${JWT_SECRET}
      expirationMinutes: ${JWT_EXPIRATION_MINUTES}

    email:
      provider: ${EMAIL_PROVIDER:console} # console | resend
      from: ${EMAIL_FROM:ReadFlow <no-reply@readflow.app>}
      resendApiKey: ${RESEND_API_KEY:}

management:
  endpoints:
    web:
      exposure:
        include: health,info
